@import "tailwindcss/base";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

@layer base {
  body {
    overflow-x: hidden;
    --primary-light: 212 100% 57%;
    --primary-lightest: 205 37% 83%;
    --primary-para: 211 19% 42%;
    --primary-dark: 212 66% 17%;
    font-family: "Roboto", sans-serif;
  }
  p {
    color: hsl(var(--primary-para));
  }
  .sc::-webkit-scrollbar {
    background: theme("colors.primary-para");
    max-height: 6px;
    width: 6px;
  }
  .sc::-webkit-scrollbar-corner {
    background-color: theme("colors.white/30");
  }
  .sc::-webkit-scrollbar-thumb {
    background-color: theme("colors.primary-light");
  }
  ::selection {
    background-color: theme("colors.white");
    color: #e2e8f0;
  }
}
