@import "tailwindcss/base";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

@layer base {
  body {
    overflow-x: hidden;
    --primary-light: 212 100% 57%;
    --primary-lightest: 205 37% 83%;
    --primary-para: 211 19% 42%;
    --primary-dark: 212 66% 17%;
    font-family: "Roboto", sans-serif;
  }
  p {
    color: hsl(var(--primary-para));
  }
  .sc::-webkit-scrollbar {
    background: theme("colors.primary-para");
    max-height: 6px;
    width: 6px;
  }
  .sc::-webkit-scrollbar-corner {
    background-color: theme("colors.white/30");
  }
  .sc::-webkit-scrollbar-thumb {
    background-color: theme("colors.primary-light");
  }
  ::selection {
    background-color: theme("colors.primary-dark");
    color: rgb(228, 228, 228);
  }
}

.swiper-pagination {
  width: 100%;
  left: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.swiper-pagination-bullet {
  min-width: 15px !important;
  min-height: 15px !important;
  border-radius: 50% !important;
  background: white;
  padding: 3px;
  transition: all 0.3s ease-in-out !important;
  opacity: 1 !important;
  margin: 0 4px !important;
  cursor: pointer;
  border: 1px solid black;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  position: relative;
}

.swiper-pagination-bullet-active::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 70%;
  height: 70%;
  background-color: black;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
